<div class="container">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-8">
            <h2>
              <b>Customers </b>List
            </h2>
          </div>
          <div class="col-sm-4">
            <div class="search-box">
              <form action="/customer/SearchCustomer" method="post" target="myFrame" id="myForm">
              <i class="material-icons" type="submit">&#xE8B6;</i>
              <input
                type="text"
                class="form-control"
                placeholder="Search&hellip;"
                name="id"
                id="id"
              />
            </form>
            </div>
          </div>
        </div>
        <br>
        <br>
    <table class="table table-striped table-hover table-bordered">
      <% include ../partials/messages %>
        <thead>
          <tr>
           <!-- <th>ID </th>-->
            <th>Name </th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% if(typeof customers != 'undefined'){ %> <%
          customers.forEach(function(customer) { %>
          <tr>
            <!--<td><%= customer.id%></td>-->
            <td><%= customer.name%></td>
            <td><%= customer.email%></td>
            <td>
              <a
                href="/customer/ViewCustomer/<%=customer.email%>"
                class="view"
                title="View"
                data-toggle="tooltip"
                ><i class="material-icons">&#xE417;</i></a
              >
              <a
                href="/customer/UpdateCustomer/<%=customer.email%>"
                class="edit"
                title="Edit"
                data-toggle="tooltip"
                ><i class="material-icons">&#xE254;</i></a
              >
              <a
                href="/customer/DisplayDelete/<%=customer.email%>"
                class="delete"
                title="Delete"
                data-toggle="tooltip"
                ><i class="material-icons">&#xE872;</i></a
              >
            </td>
          </tr>
          <% }); %> <% } %>
        </tbody>
      </table>
      <div class="clearfix">
        <div class="hint-text">Showing <b><%=customers.length%></b> out of <b><%=total%></b> entries</div>
        <ul class="pagination">
          <li class="page-item disabled">
            <a href="#"><i class="fa fa-angle-double-left"></i></a>
          </li>
          <li class="page-item"><a href="/customer/DisplayCustomer/1" class="page-link">1</a></li>
          <li class="page-item"><a href="/customer/DisplayCustomer/2" class="page-link">2</a></li>
          <li class="page-item"><a href="/customer/DisplayCustomer/3" class="page-link">3</a></li>
          <li class="page-item"><a href="/customer/DisplayCustomer/4" class="page-link">4</a></li>
          <li class="page-item"><a href="/customer/DisplayCustomer/5" class="page-link">5</a></li>
          <li class="page-item"><a href="#" class="page-link"><i class="fa fa-angle-double-right"></i ></a>
          </li>
        </ul>
      </div>
    </div>
</div>
  